@page "/personalpronouns/delete/{PersonalPronounsId:int}"
@inherits PersonalPronounsBasePageClass

<PageTitle>Delete Personal Pronouns</PageTitle>

@if (PersonalPronounsModel is null)
{
    <LoadingOrNotFoundComponent ValueToShow="@PersonalPronounsSingular" />
    return;
}

@if (!OkToDelete)
{
    <CannotDeleteComponent ObjectType="@PersonalPronounsSingular" ObjectName="@PersonalPronounsModel.PronounNames" ObjectCount="@PersonalPronounsModel.Persons.Count" />
    return;
}

<ConfirmDeleteComponent ObjectType="@PersonalPronounsSingular" ObjectName="@PersonalPronounsModel.PronounNames" />

<br />
<br />

@if (OkToDelete)
{
    <button class="btn btn-danger" @onclick="DeletePersonalPronouns">Delete</button>
    @:&nbsp;
}

<a class="btn btn-primary" href="/personalpronouns/index">Cancel</a>

