@page "/addresstype/delete/{AddressTypeId:int}"
@inherits AddressTypeBasePageClass

<PageTitle>Delete Address Type</PageTitle>

@if (AddressTypeModel is null)
{
    <LoadingOrNotFoundComponent ValueToShow="@AddressTypeSingular" />
    return;
}

@if (!OkToDelete)
{
    <CannotDeleteComponent ObjectType="@AddressTypeSingular" ObjectName="@AddressTypeModel.TypeName" ObjectCount="@AddressTypeModel.Addresses.Count" />
    return;
}

<ConfirmDeleteComponent ObjectType="@AddressTypeSingular" ObjectName="@AddressTypeModel.TypeName" />

<br />
<br />

@if (OkToDelete)
{
    <button class="btn btn-danger" @onclick="DeleteAddressType">Delete</button>
    @:&nbsp;
}

<a class="btn btn-primary" href="/addresstypes/index">Cancel</a>