@page "/employmentstatus/delete/{EmploymentStatusId:int}"
@inherits EmploymentStatusBasePageClass

<PageTitle>Delete Employment Status</PageTitle>

@if (EmploymentStatusModel is null)
{
    <LoadingOrNotFoundComponent ValueToShow="@EmploymentStatusSingular" />
    return;
}

@if (!OkToDelete)
{
    <CannotDeleteComponent ObjectType="@EmploymentStatusSingular" ObjectName="@EmploymentStatusModel.StatusName" ObjectCount="@EmploymentStatusModel.Persons.Count" />
    return;
}

<ConfirmDeleteComponent ObjectType="@EmploymentStatusSingular" ObjectName="@EmploymentStatusModel.StatusName" />

<br />
<br />

<EmploymentStatusViewDeleteComponent StatusName="@EmploymentStatusModel.StatusName" />

<br />
<br />

@if (OkToDelete)
{
    <button class="btn btn-danger" @onclick="DeleteEmploymentStatus">Delete</button>
    @:&nbsp;
}

<a class="btn btn-primary" href="/employmentstatuses/index">Cancel</a>